/* Navbar */
nav {
    top: 0;
    left: 0;
}

ul {
    top: 0;
    left: 0;
    background-color: #015582;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
}

#home-btn {
    border-right: none;
}

li {
    float: left;
    background-color: #015582;
    border-right: 1px solid white;
}



li a:hover {
    background-color: #5496ba;
}

.nav-link {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

/* General Styling */
#body-fit {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.btn-container {
    width: 100%;
    margin-top: 10px;
}

.create-btn:hover {
    background-color: #5496ba;
}

.create-btn {
    margin: 5px;
    padding: 5px 10px;
    background-color: #24739e;
    border: 1px solid #015582;
    border-radius: 10px;
    width: fit-content;
    color: white;
    text-decoration: none;
}

.save-btn {
    float: left;
}

.delete-btn {
    float: right;
    background-color: #ffc8cd;
    color: #b41a58;
    border-radius: 2px;
    border: 1px solid #b41a58;
    padding-top: 2px;
    padding-bottom: 2px;
}

.update-btn {
    margin: 5px;
    padding: 2px 5px;
    background-color: #24739e;
    border: 1px solid #015582;
    border-radius: 5px;
    width: fit-content;
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.update-btn:hover {
    background-color: #5496ba;
}

#delete-button:hover {
    background-color: #ffc8cd;
    color: #b41a58;
    border-radius: 2px;
    border: 1px solid #b41a58;
}

/* Profile Styling */
.profile-body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.profile-page-title {
    grid-column: 1 / span 3;
}

#profile-btn {
    grid-column-start: 2;
}

/* Journal Timeline */
.timeline-container {
    grid-column-start: 2;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    min-width: 20%;
}

.journal-entry-container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.journal-entry-title {
    margin-top: 0;
    border-bottom: 2px solid #5496ba;
}


#journal-crud {
    display: inline;
    float: right;
}

/* Journal Creation Styles */
.create-journal-page {
    display: block;
}

.journal-input-title {
    margin-bottom: 0;
}

.journal-input-entry {
    margin-bottom: 0;
    min-width: 10%;
    max-width: 50%;
    height: fit-content;
    width: fit-content;
}

.journal-form-btn {
    padding: 2px 5px;
    background-color: #24739e;
    border: 1px solid #015582;
    border-radius: 5px;
    color: white;
}

.journal-form-btn:hover {
    background-color: #5496ba;
}

/* Daily Goals Styling */
.daily-goals-widget {
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.daily-goals-link-container {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #5496ba;
}

.daily-goals-link {
    text-decoration: none;
}

.daily-goal-item {
    margin-top: 0;
}

/* Daily Goals Checklist Styling */
.daily-goals-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daily-goals-checklist-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.create-daily-goal-link-container {
    margin-bottom: 0;
    width: 100%;
}

.daily-goals-checklist-title {
    margin-top: 0;
    margin-bottom: 0;
}

#daily-create {
    float: left;
}

#daily-update {
    float: right;
}

.daily-goals {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.daily-goals-title {
    margin-top: 0;
}

.goal-container {
    margin-bottom: 20px;
}

.goal-label {
    margin-top: 0;
    margin-bottom: 0;
}
