{% load allauth account %}
{% load static %}
{% load tz %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{% static '/' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block additional-head %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li>
                <a class="nav-link" id="home-btn" href="/">
                    Home
                </a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a class="nav-link" href="{% url 'user-profile' user.id %}">
                    {{user.first_name}}
                </a>
            </li>
            <li id="nav-goals">
                <a class="nav-link" href="{% url 'daily-goals-list' user.id %}">
                    Goals
                </a>
            </li>
            <li id="nav-hydration">
                <a class="nav-link" href="{% url 'hydration-tracker' user.id %}">
                    Hydration
                </a>
            </li>
            <li id="nav-logout">
                <a class="nav-link"  href="{% url 'account_logout' %}">
                    Logout
                </a>
            </li>
            <li id="nav-edit-profile">
                <a class="nav-link" href="{% url 'user-update' user.id %}">
                    Edit Profile
                </a>
            </li>
            {% else %}
            <li id="nav-login">
                <a class="nav-link" href="{% url 'account_login' %}">
                    Login/Sign-Up
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div id="body-fit">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>