{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create Daily Goals | Better Days 
{% endblock %}

{% block body %}
    <div class="daily-goals-list-container">
        <div class="create-daily-goal-link-container">
            <a href="{% url 'daily-goals-create' %}" class="create-daily-goal-link">Create New Daily Goal</a>
        </div>
        {% if form is None %}
            <h3>Please Create a Daily Goal</h3>
        {% else %} 
            <form method="post">
                {% csrf_token %}
                {% for item in form %}
                    {{ item }}
                {% endfor %}
                <button type="submit" name="save_button">Submit</button>
                <button type="submit" name="delete_button">Delete</button>
            </form>
       {% endif %}
    </div>
{% endblock %}