{% extends 'base.html' %}
{% load static %}


{% block title %}
    Create Daily Goals | Better Days 
{% endblock %}

{% block body %}
    <div class="create-daily-goals">
        <h1>Update Daily Goals:</h1>

        <form method="post">
            {% csrf_token %}
            {{ daily_goal_formset.management_form }}
            {% for form in daily_goal_formset %}
            <div>Goal:</div>
                {{ form.id }}
                {{ form.title }}
            {% endfor %}
            <br/>
            <input type="submit" value="Submit" class="form-btn">
        </form>
    </div>
{% endblock %}

