{% extends 'base.html' %}
{% load static %}


{% block title %}
    Create Journal Entry | Journaling
{% endblock %}

{% block body %}
<div class="create-journal-page">
    <h1>Create Journal Entry:</h1>

    <form method="post">
        {% csrf_token %}
        <div>
            <div class="journal-input-title"><h4>Title:</h4>{{ form.title }}</div>
            <br/>
            <div class="journal-input-entry"><h4>Journal Entry:</h4>{{ form.journal_content }}</div>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
