{% extends 'base.html' %}
{% load static %}
{% load tz %}


{% block title %}
    Create Journal Entry | Better Days Coming
{% endblock %}

{% block body %}
<div class="create-journal-page">
    <h1>Create Journal Entry:</h1>

    <form method="post">
        {% csrf_token %}
        <div>
            <div class="journal-input-container"><h4 class="journal-input-title">Title:</h4>{{ form.title }}</div>
            <br/>
            <div class="journal-input-container"><h4 class="journal-input-entry">Journal Entry:</h4>{{ form.journal_content }}</div>
        </div>
        <input class="journal-form-btn" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
