{% extends "base.html" %}
{% load static %}
{% load tz %}

<!-- Tab Title -->
{% block title %}
    Profile | Better Days Coming
{% endblock %}

<!-- Body Content -->
{% block body %}
    <div class="profile-body">
        <h1 class="profile-page-title">
            Welcome, {{ user.username }} to your Journal!
        </h1>
        <a class="create-btn" id="profile-btn" href="{% url 'journal-entry' %}">
                New Journal Entry
        </a>
        <div class="hydration-tracker-container">
            <h4 class="hydration-tracker-title">
                Daily Hydration:
            </h4>
            <form method="POST" class="hydration-form">
                {% csrf_token %}
                {{form}}
                <button type="submit">Submit</button>
            </form>
            <div class="hydration-date-container">
                {% for hydration_tracker in hydration_trackers %}
                    {% if hydration_tracker.water_intake == 0 %}
                        <div class="water-block" id="no-water" title="Date: {{ hydration_tracker.date_of_intake }}, Drank: {{ hydration_tracker.water_intake }} oz of water"> </div>
                    {% elif hydration_tracker.water_intake >= 1 and 25 >= hydration_tracker.water_intake %}
                        <div class="water-block" id="lightest-water" title="Date: {{ hydration_tracker.date_of_intake }}, Drank: {{ hydration_tracker.water_intake }} oz of water"> </div>
                    {% elif hydration_tracker.water_intake >= 26 and 50 >= hydration_tracker.water_intake %}
                        <div class="water-block" id="light-water" title="Date: {{ hydration_tracker.date_of_intake }}, Drank: {{ hydration_tracker.water_intake }} oz of water"> </div>
                    {% elif hydration_tracker.water_intake >= 51 and 75 >= hydration_tracker.water_intake %}
                        <div class="water-block" id="average-water" title="Date: {{ hydration_tracker.date_of_intake }}, Drank: {{ hydration_tracker.water_intake }} oz of water"> </div>
                    {% elif hydration_tracker.water_intake >= 76 and 100 >= hydration_tracker.water_intake %}
                        <div class="water-block" id="heavy-water" title="Date: {{ hydration_tracker.date_of_intake }}, Drank: {{ hydration_tracker.water_intake }} oz of water"> </div>
                    {% elif hydration_tracker.water_intake >= 101 and 127 >= hydration_tracker.water_intake %}
                        <div class="water-block" id="heaviest-water" title="Date: {{ hydration_tracker.date_of_intake }}, Drank: {{ hydration_tracker.water_intake }} oz of water"> </div>
                    {% elif hydration_tracker.water_intake >= 128 %}
                        <div class="water-block" id="perfect-water" title="Date: {{ hydration_tracker.date_of_intake }}, Drank: {{ hydration_tracker.water_intake }} oz of water"> 
                            <div class="star-container">
                                <div class="corner" id="corner-1"></div>
                                <div class="corner" id="corner-2"></div>
                                <div class="corner" id="corner-3"></div>
                                <div class="corner" id="corner-4"></div>
                                <div class="corner" id="corner-5"></div>

                                <div class="inner-corner" id="inner-corner-1"></div>
                                <div class="inner-corner" id="inner-corner-2"></div>
                                <div class="inner-corner" id="inner-corner-3"></div>
                                <div class="inner-corner" id="inner-corner-4"></div>
                                <div class="inner-corner" id="inner-corner-5"></div>
                            </div>
                        </div>
                    {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="timeline-container">
            {% for journal_entry in journal_entries %}
            <div class="journal-entry-container">
                <h3 class="journal-entry-title">{{ journal_entry.title }}</h3>
                <span class="journal-entry-date">{{ journal_entry.date_created }}</span>
                <p>{{ journal_entry.journal_content|safe }}</p>
                <span class="journal-entry-author">{{ journal_entry.user.first_name }}</span>
                <div id="journal-crud">
                    <a class="update-btn" href="{% url 'journal-update' journal_entry.pk %}">Update</a>
                    <a class="update-btn" id="delete-button" href="{% url 'journal-delete' journal_entry.pk %}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="daily-goals-widget">
            <h4 class="daily-goals-link-container">
                <a href="{% url 'daily-goals-checklist' user.id %}" class="daily-goals-link">Daily Goals</a>
            </h4>
                {% for daily_goal in daily_goals %}
                <div class="daily-goal-item">
                    {{daily_goal.title}}: 
                        <div class="indent">
                            {{ daily_goal.consecutive_submissions }} Day(s) in a Row
                        </div>
                        <div class="indent">
                            {{ daily_goal.submissions_total }} Total Day(s) Completed
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
