{% extends "base.html" %}
{% load static %}

<!-- Tab Title -->
{% block title %}
    Profile | Better Days Coming
{% endblock %}

<!-- Body Content -->
{% block body %}
    <div class="profile-body">
        <h1 class="profile-page-title">
            Welcome, {{ user.username }} to your Journal!
        </h1>
        <a class="create-btn" id="profile-btn" href="{% url 'journal-entry' %}">
                New Journal Entry
        </a>
        <div class="timeline-container">
            {% for journal_entry in journal_entries %}
            <div class="journal-entry-container">
                <h3 class="journal-entry-title">{{journal_entry.title}}</h3>
                <p>{{journal_entry.journal_content}}</p>
                <span>{{journal_entry.date_created}}</span>
                <span>{{journal_entry.user.first_name}}</span>
                <div id="journal-crud">
                    <a class="update-btn" href="{% url 'journal-update' journal_entry.pk %}">Update</a>
                    <a class="update-btn" id="delete-button" href="{% url 'journal-delete' journal_entry.pk %}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="daily-goals-widget">
            <h4 class="daily-goals-link-container">
                <a href="{% url 'daily-goals-checklist' user.id %}" class="daily-goals-link">Daily Goals</a>
            </h4>
                {% for daily_goal in daily_goals %}
                <div class="daily-goal-item">
                    {{daily_goal.title}}: 
                        <div class="indent">
                            {{ daily_goal.consecutive_submissions }} Day(s) in a Row
                        </div>
                        <div class="indent">
                            {{ daily_goal.submissions_total }} Total Day(s) Completed
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
