{% extends "base.html" %}
{% load static %}

<!-- Tab Title -->
{% block title %}
    Journal - Profile
{% endblock %}

<!-- Body Content -->
{% block body %}
    <div class="base-body">
        <h1 class="profile-page-title">Welcome, {{ user.username }} to your Journal!</h1>
            <a class="journal-entry-link" href="{% url 'journal-entry' %}">
                New Journal Entry
            </a>
        <div class="timeline-container">
            {% for journal_entry in journal_entries %}
            <div class="journal-entry-container">
                <h3 class="journal-entry-title">{{journal_entry.title}}</h3>
                <p>{{journal_entry.journal_content}}</p>
                <span>{{journal_entry.date_created}}</span>
                <span>{{journal_entry.user.first_name}}</span>
                <div id="journal-crud">
                    <a class="journal-crud-link" href="{% url 'journal-update' journal_entry.pk %}">Update</a>
                    <a class="journal-crud-link" href="{% url 'journal-delete' journal_entry.pk %}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}