{% extends 'base.html' %}
{% load static %}

{% block title %}
    Delete Journal | Better Days Coming
{% endblock %}

{% block body %}
    <div class="delete-body">
        <h1>Are you sure you want to delete your account?</h1>
        <form method="post">
            {% csrf_token %}
            <div class="delete-container">
                <input class="delete-btn" type="submit" value="Confirm" />
                <a class="cancel-btn" href="{% url 'user-profile' user.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}