/* Google AllAuth Login */
.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
}

#allauth-body {
    margin-top: 48px;
}



/* Navbar */
nav {
    top: 0;
    left: 0;
}

#nav-list {
    top: 0;
    left: 0;
    background-color: #015582;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
}

#home-btn {
    border-right: none;
}

.nav-item {
    float: left;
    background-color: #015582;
    border-right: 1px solid white;
}

.nav-item a:hover {
    background-color: #5496ba;
}

.nav-link {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

#nav-logout {
    float: right
}

#nav-edit-profile {
    float: right;
    border-left: 1px solid white;
}

#nav-login {
    float: right;
    border-left: 1px solid white;
}

#nav-goals {
    display: none;
}

#nav-hydration {
    display: none;
}



/* General Styling */
#body-fit {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.btn-container {
    width: 100%;
    margin-top: 10px;
}

.create-btn:hover {
    background-color: #5496ba;
}

.create-btn {
    margin: 5px;
    padding: 5px 10px;
    background-color: #24739e;
    border: 1px solid #015582;
    border-radius: 10px;
    width: fit-content;
    color: white;
    text-decoration: none;
}

.save-btn {
    float: left;
}

.delete-btn {
    float: right;
    background-color: #ffc8cd;
    color: #b41a58;
    border-radius: 2px;
    border: 1px solid #b41a58;
    padding-top: 2px;
    padding-bottom: 2px;
}

.update-btn {
    margin: 5px;
    padding: 2px 5px;
    background-color: #24739e;
    border: 1px solid #015582;
    border-radius: 5px;
    width: fit-content;
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.update-btn:hover {
    background-color: #5496ba;
}

#delete-button:hover {
    background-color: #ffc8cd;
    color: #b41a58;
    border-radius: 2px;
    border: 1px solid #b41a58;
}

.cancel-btn {
    background-color: lightgray;
    color: black;
    border-radius: 2px;
    border: 1px solid black;
    padding: 2px 5px;
    text-decoration: none;
}

/* Profile Styling */
    .profile-body {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }


.profile-page-title {
    grid-column: 1 / span 3;
}

#profile-btn {
    grid-column-start: 2;
}

.user-del-btn {
    text-decoration: none;
    padding: 2px 5px;
}

.delete-body {
    display: flex;
    flex-direction: column;
}

.delete-container {
    display: flex;
    justify-content: space-between;
}

/* Journal Timeline */
.timeline-container {
    grid-column-start: 2;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}

.journal-entry-container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.journal-entry-title {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #5496ba;
}

.journal-entry-date {
    margin-top: 0;
    font-size: small;
}

.journal-entry-author {
    font-size: small;
}


#journal-crud {
    display: inline;
    float: right;
}

/* Journal Creation Styles */
.create-journal-page {
    display: block;
}

.journal-input-title {
    margin-bottom: 0;
}

.journal-input-container {
    margin-bottom: 20px;
}

.journal-input-entry {
    margin-bottom: 0;
    min-width: 10%;
    max-width: 50%;
    height: fit-content;
    width: fit-content;
}

.journal-form-btn {
    padding: 2px 5px;
    background-color: #24739e;
    border: 1px solid #015582;
    border-radius: 5px;
    color: white;
}

.journal-form-btn:hover {
    background-color: #5496ba;
}

/* Daily Goals Styling */
.daily-goals-widget {
    max-width: 1fr;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.mobile-daily-goals-widget {
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.daily-goals-link-container {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #5496ba;
}

.daily-goals-link {
    text-decoration: none;
}

.daily-goal-item {
    margin-top: 0;
}

.indent {
    margin-left: 30px;
}

/* Daily Goals Checklist Styling */
.daily-goals-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daily-goals-checklist-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.create-daily-goal-link-container {
    margin-bottom: 0;
    width: 100%;
}

.daily-goals-checklist-title {
    margin-top: 0;
    margin-bottom: 0;
}

#daily-create {
    float: left;
}

#daily-update {
    float: right;
}

.daily-goals {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.daily-goals-title {
    margin-top: 0;
}

.goal-container {
    margin-bottom: 20px;
}

.goal-label {
    margin-top: 0;
    margin-bottom: 0;
}

/* Hydration Tracker Styling */
.hydration-tracker-container {
    grid-column-start: 1;
    border: 2px solid black;
    border-radius: 10px;
    padding:10px;
    width: 1fr;
    max-width: 1fr;
}

.mobile-hydration-tracker {
    border: 2px solid black;
    border-radius: 10px;
    padding:10px;
    width: fit-content;
    max-width: 100%;
}

.hydration-tracker-title {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #5496ba;
}

.hydration-date-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
}

.water-block {
    height: 25px;
    width: 25px;
}

#no-water {
    background-color: #151c24;
    border-radius: 5px;
}

#lightest-water {
    background-color: #11638f;
    border-radius: 5px;
}

#light-water {
    background-color: #3a84ab;
    border-radius: 5px;
}

#average-water {
    background-color: #6fa8c7;
    border-radius: 5px;
}

#heavy-water {
    background-color: #8ebcd5;
    border-radius: 5px;
}

#heaviest-water {
    background-color: #b1d1e3;
    border-radius: 5px;
}

#perfect-water {
    background-color: #f2e855;
    border-radius: 5px;
}

/* Perfect Water Star */
.star-container {
    height: 25px;
    width: 25px;
    position: relative;
    overflow: hidden;
    background-color: #f2e855;
}

.corner {
    background-color: white;
    position: absolute;
}

#corner-1 {
    height: 15px;
    width: 8px;
    top: -6px;
    left: 0px;
    transform: rotate(54deg);
}

#corner-2 {
    height: 8px;
    width: 15px;
    top: -2.5px;
    right: -4px;
    transform: rotate(35deg);
}

#corner-3 {
    height: 8px;
    width: 15px;
    top: 15px;
    left: -9.4px;
    transform: rotate(72deg)
}

#corner-4 {
    height: 8px;
    width: 15px;
    top: 15px;
    right: -9.4px;
    transform: rotate(-72deg);
}

#corner-5 {
    height: 1px;
    width: 40px;
    top: 24px;
}

.inner-corner {
    border-top: 4.9px solid white;
    border-bottom: 10px solid rgba(0,0,0,0.0);
    border-left: 10px solid rgba(0,0,0,0.0);
    border-right: 10px solid rgba(0,0,0,0.0);
    position: absolute;
    height: 0;
    width: 0;
}

#inner-corner-1 {
    transform: rotate(-36deg);
    top: 2.6px;
    left: 0.1px;
}

#inner-corner-2 {
    transform: rotate(36deg);
    top: 2.6px;
    right: 0.1px;
}

#inner-corner-3 {
    transform: rotate(-108deg);
    top: 7.2px;
    left: -1.4px;
}

#inner-corner-4 {
    transform: rotate(108deg);
    top: 7.2px;
    right: -1.4px;
}

#inner-corner-5 {
    transform: rotate(180deg);
    top: 10px;
    right: 2.5px;
}

/* Mobile Styling */
@media only screen and (max-width: 768px) {
    .profile-body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hydration-tracker-container {
        display: none;
        width: 100%;
    }

    .daily-goals-widget {
        display: none;
        width: 100%;
    }

    #nav-goals {
        display: list-item;
    }

    #nav-hydration {
        display: list-item;
    }
}
